<div class="container">
    <br>
    <div class="row">
        <!-- <div class="col-md-3">
            <select class="form-control input-md pull-right" ng-model="itemsPerPage" ng-change="perPage()" ng-options="('show '+size+' per page') for size in pageSizes"></select>
        </div> -->

        <div class="col-md-3">
            <div class="input-group input-group-md add-on">
                <input type="text" class="form-control search-query" ng-model="searchKey"  placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <button class="btn btn-block btn-primary" ng-click="toggleListOfPersonsModal()">Issue Certificate of Closure</button>
        </div>
        
        <br />
        <br />
        <br />
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-title">
                </div>
                <!-- /.box-title -->
                <div class="box-body">
                    <div class="col-md-12">
                        <table st-table="rowCollection" class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>Residence Id</th>
                                    <th>Address</th>                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.residences | filter:searchKey">
                                    <td>{{row.id}}</td>
                                    <td>Block {{row.block_no}} Lot {{row.lot_no}}, {{row.street}} St., Sitio {{row.sitio}}, {{row.subdivision}} Subdivision, Brgy. {{row.brgy}}, {{row.city}} City {{row.zip}}, {{row.province}}</td>
                                    <td>
                                        <button type="button" ng-click="" class="btn btn-sm btn-success">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        &nbsp;
                                        <button type="button" ng-click="" class="btn btn-sm btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        &nbsp;
                                        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <div ui-view></div>
    
    <modal title="List Of Persons" visible="showListOfPersons">

        <div class="col-md-4">
            <div class="input-group input-group-md add-on">
                <input type="text" class="form-control search-query" ng-model="searchKey"  placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        qweqwe
        <br />
        <br />
        <br />
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-title">
                </div>
                <!-- /.box-title -->
                <div class="box-body">
                    <div class="col-md-12">
                        <table st-table="rowCollection" class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Address</th>   
                                    <th>Action</th>                               
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.persons | filter: searchKey">
                                <p>{{row | json}}</p>
                                    <td>{{row.first_name}} {{row.middle_name.charAt(0)}}. {{row.last_name}}</td>
                                    <td>{{row.gender}}</td>
                                    <td>Block {{row.temp_person_infos[0].residence.block_no}} Lot {{row.temp_person_infos[0].residence.lot_no}}, {{row.temp_person_infos[0].residence.street}} St., Sitio {{row.temp_person_infos[0].residence.sitio}}, {{row.temp_person_infos[0].residence.subdivision}} Subdivision, Brgy. {{row.temp_person_infos[0].residence.brgy}}, {{row.temp_person_infos[0].residence.city}} City {{row.temp_person_infos[0].residence.zip}}, {{row.temp_person_infos[0].residence.province}}</td>
                                    <td>
                                        <button type="button" ng-click="promptBusinessInfo($index, row.id)" class="btn btn-sm btn-success">
                                                                                    <i class="fa fa-print"></i>
                                                                                </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    </modal>
    
     <modal title="Certificate of Closure" visible="showBusinessInfoModal" >
        <form role="form">
            <div class="box-body">

                        <div class="form-group">
                            <label for="barangay">Business Owner</label>
                            <input class="form-control"  type="text" placeholder="Juan Dela Cruz" ng-model="vm.businessOwner" disabled="">
                        </div>

                        <div class="form-group">
                            <label for="barangay">Business Name</label>
                            <input class="form-control"  type="text" placeholder="Fix N' Mix" ng-model="vm.businessName" autofocus>
                        </div>
                        
                        <div class="form-group">
                            <label for="barangay">Business Address</label>
                            <textarea class="form-control"  type="text" placeholder="Brgy. 1, Kabankalan City" ng-model="vm.businessAddress"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="barangay">Business Type</label>
                            <input class="form-control"  type="text" placeholder="Bake Shop" ng-model="vm.businessType"> 
                        </div>

                        <div class="form-group">
                            <label for="barangay">Date Closed</label>
                            <input class="form-control"  type="date" ng-model="vm.dateClosed"> 
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="printPreview()" >Print Preview</button>
            </div>
        </form>
    </modal>
</div>
