<form name="Form">
    <!-- <div class="form-group" ng-class="{ ' has-error': Form.residenceId.$invalid }">
        <label for="residenceId">Please provide a valid Residence ID</label>
        <input type="text" class="form-control" id="residenceId" name="residenceId" ng-model="person.residenceId" validator="number" no-validation-message="true">
        number-error-message="<label class='control-label'></label>" number--success-message="Good Number" 
    </div> -->
    <div class="form-group" ng-class="{ ' has-error': Form.residenceId.$invalid }">
        <label for="phone">Please provide a valid Residence ID</label>
        <input class="form-control" name="residenceId" id="residenceId" type="text" ng-model="vm.residenceId" placeholder="09123456789" validator="number" no-validation-message="true" ng-change="vm.findAddress(person.residenceId)">
    </div>
    
    <!-- <p ng-hide="isEmpty(vm.residence)">Found Address:</p> -->
    <pre  ng-hide="isEmpty(vm.residence)"><p>
    Block {{vm.residence.block_no}} Lot {{vm.residence.lot_no}}, {{vm.residence.street}} St., Sitio {{vm.residence.sitio}}, {{vm.residence.subdivision}} Subdivision,<br>
    Brgy. {{vm.residence.barangay}}, {{vm.residence.city}} City <br>
    {{vm.residence.zip_code}}, {{vm.residence.province}}</p></pre>

    <!-- <p>{{person}}</p> -->
  <!--   <div>
        <a ui-sref="residences">New member? Get your Residence ID.</a>
    </div> -->
    <br />
    <div class="form-group row">
        <div class="col-xs-3 col-xs-offset-3 pull-right">
            <button ui-sref="form-edit.profile({personId : personId})" class="btn btn-block btn-primary" ng-disabled="Form.$invalid || !Form.residenceId.$viewValue "> Next
                <span class="fa  fa-arrow-right"></span>
            </button>
        </div>
    </div>
</form>
