<div class="text-center">
    <span class="fa fa-thumbs-up"></span>
    <h3>Almost Done!</h3>
</div>

<div class="row">
    <p>{{vm.person}}</p>
</div><!-- /.row -->
<!-- <section class="invoice"> -->
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                          <a ng-click="isCollapsed1 = !isCollapsed1">
                            Personal Information
                          </a>
                        </h4>
        </div>
        <div id="collapseThree" class="panel-collapse " ng-class="isCollapsed1? 'collapse':''">
            <div class="box-body">
                <address>
                    Name: <strong class="text-light-blue">{{vm.person.firstName}} {{vm.person.middleName.charAt(0)}}. {{vm.person.lastName}}</strong>
                </address>
                <address>
                    <!-- <strong>Admin, Inc.</strong> -->
                    Address: <strong class="text-light-blue"> Block {{vm.foundAddress.block_no}} Lot {{vm.foundAddress.lot_no}}, {{vm.foundAddress.street}} St., Sitio {{vm.foundAddress.sitio}}, {{vm.foundAddress.subdivision}} Subdivision, Brgy. {{vm.foundAddress.barangay}}, {{vm.foundAddress.city}} City, {{vm.foundAddress.zip_code}}, {{vm.foundAddress.province}}</strong>
                    <br> Contact #: <strong class="text-light-blue">{{vm.person.contactNo}}</strong>
                    <br> Email: <strong class="text-light-blue">{{vm.person.email}}</strong>
                    <br /> Date of birth: <strong class="text-light-blue">{{vm.person.dateOfBirth  | date:'MMMM dd, yyyy'}}</strong>
                    <br /> Place of birth: <strong class="text-light-blue">{{vm.person.placeOfBirth}} </strong>
                    <br /> Status: <strong class="text-light-blue">{{vm.person.civilStatus}}</strong>
                    <br /> Gender: <strong class="text-light-blue">{{vm.person.gender}}</strong>
                    <br /> Education: <strong class="text-light-blue">{{vm.person.educationalAttainment}}</strong>
                    <br />
                    <br /> Employed? <strong class="text-light-blue">{{ vm.person.isEmployed }}</strong>
                    <br /> SSS? <strong class="text-light-blue">{{ vm.person.withSSS }}</strong>
                    <br /> Philhealth? <strong class="text-light-blue">{{ vm.person.withPhilhealth }}</strong>
                    <br /> Voter? <strong class="text-light-blue">{{ vm.person.isVoter}}</strong>
                    <br /> Electricity? <strong class="text-light-blue">{{ vm.person.withElectricity }}</strong>
                </address>
                <address>
                </address>
            </div>
        </div>
    </div>
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                          <a ng-click="isCollapsed2 = !isCollapsed2">
                            Spouse Information
                          </a>
                        </h4>
        </div>
        <div id="collapseThree" class="panel-collapse " ng-class="isCollapsed2? 'collapse':''">
            <div class="box-body">
                <address>
                    Name: <strong class="text-light-blue">{{vm.person.spouseFirstName}} {{vm.person.spouseMiddleName.charAt(0)}}. {{vm.person.spouseLastName}}</strong>
                    <br />
                     Date of birth: <strong class="text-light-blue">{{vm.person.spouseDateOfBirth | date:'MMMM dd, yyyy'}}</strong>
                    <br /> Gender: <strong class="text-light-blue">{{vm.person.spouseGender}}</strong>
                </address>
            <h5><strong class="text-light-blue">Children</strong></h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="child in vm.person.children">
                    <td>{{child.firstName}} {{child.middleName.charAt(0)}}. {{child.lastName}}</td>
                    <td>{{child.dateOfBirth | date:'MM/dd/yyyy'}}</td>
                    <td>{{child.gender}}</td>
                  </tr>
                </tbody>
              </table>
              </div>
        </div>
    </div>
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                          <a ng-click="isCollapsed3 = !isCollapsed3">
                            Parent Information
                          </a>
                        </h4>
        </div>
        <div id="collapseThree" class="panel-collapse " ng-class="isCollapsed3? 'collapse':''">
            <div class="box-body">
                <div class="col-md-6">
                    <h5><strong class="text-light-blue">Father</strong></h5>
                    <address>
                        Name: <strong class="text-light-blue">{{vm.person.fatherFirstName}} {{vm.person.fatherMiddleName.charAt(0)}}. {{vm.person.fatherLastName}}</strong>
                        <br /> Date of birth: <strong class="text-light-blue">{{vm.person.fatherDateOfBirth | date:'MMMM dd, yyyy'}}</strong>
                        <!-- <br /> Gender: <strong class="text-light-blue">{{vm.person.fatherGender}}</strong> -->
                        <br />
                    </address>
                </div>
                <div class="col-md-6">
                    <h5><strong class="text-light-blue">Mother</strong></h5>
                    <address>
                        Mother's Name: <strong class="text-light-blue">{{vm.person.motherFirstName}} {{vm.person.motherMiddleName.charAt(0)}}. {{vm.person.motherLastName}}</strong>
                        <br /> Date of birth: <strong class="text-light-blue">{{vm.person.motherDateOfBirth | date:'MMMM dd, yyyy'}}</strong>
                        <!-- <br /> Gender: <strong class="text-light-blue">Male</strong> -->
                    </address>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
    <!-- this row will not appear when printing -->

    <br />
    <!-- <p>
        {{vm.person | json}}
    </p> -->
    <br />

    <div class="row no-print">
        <div class="col-xs-12">
            <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            <button class="btn btn-success pull-right" ng-click="vm.save()"><i class="fa fa-check"></i>Submit Form</button>
            <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
        </div>
    </div>
