<div class="container">
    <br>
    <div class="row">
        <!-- <div class="col-md-3">
            <select class="form-control input-md pull-right" ng-model="itemsPerPage" ng-change="perPage()" ng-options="('show '+size+' per page') for size in pageSizes"></select>
        </div> -->
        <div class="col-md-3">
            <div class="input-group input-group-md add-on">
                <input type="text" class="form-control search-query" ng-model="searchKey" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-6">
            <a ui-sref="form.address">
                <button class="btn btn-block btn-primary">New Record</button>
            </a>
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-title">
                </div>
                <!-- /.box-title -->
                <div class="box-body">
                    <div class="col-md-12">
                        <table st-table="rowCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Birth Date</th>
                                    <th>Place Of Birth</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.persons | filter: searchKey">
                                    <td>{{row.first_name}} {{row.middle_name.charAt(0)}}. {{row.last_name}}</td>
                                    <td>{{row.gender}}</td>
                                    <td>{{row.date_of_birth | date: 'MMMM dd, yyyy'}} </td>
                                    <td>{{row.place_of_birth}}</td>
                                    <td>
                                        <button type="button" ng-click="vm.toggleViewPerson($index)" class="btn btn-sm btn-success">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        &nbsp;
                                        <a ui-sref="form-edit.address({personId: row.id, residenceId: row.temp_person_infos[0].residence.id })"><button type="button" class="btn btn-sm btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        </a>
                                        &nbsp;
                                        <button type="button" ng-click="vm.deletePerson(row.id)" class="btn btn-sm btn-danger" confirm="Are you sure, you want to delete the record of this person?">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                       <!--  <button type="button" ng-click="delete()" confirm="Are you sure, you want to delete the record of this person?">Delete</button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <div ui-view></div>
    <modal title="Census Info" visible="vm.showViewPersonModal" >
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" ng-click="isCollapsed1 = !isCollapsed1">
                <i class="fa  fa-male "></i> Personal Info
                <!-- <small class="pull-right">Date: 2/10/2014</small> -->
              </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- row -->
        <div class="panel-collapse " ng-class="isCollapsed1? 'collapse':''">
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>Name:</strong>
                    <br />{{vm.person.first_name}} {{vm.person.middle_name.charAt(0)}}. {{vm.person.last_name}} 
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Address:</strong>
                    <br />Block {{vm.person.temp_person_infos[0].residence.block_no}} Lot {{vm.person.temp_person_infos[0].residence.lot_no}}, {{vm.person.temp_person_infos[0].residence.street}} St., Sitio {{vm.person.temp_person_infos[0].residence.sitio}}, {{vm.person.temp_person_infos[0].residence.subdivision}} Subdivision, Brgy. {{vm.person.temp_person_infos[0].residence.brgy}}, {{vm.person.temp_person_infos[0].residence.city}} City {{vm.person.temp_person_infos[0].residence.zip}}, {{vm.person.temp_person_infos[0].residence.province}}
                    <br />
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Contact #:</strong>
                    <br />{{vm.person.contact_no}} 
                </div>
                <!-- /.col -->
            </div>
            <!-- row invoice-info -->
            <br />
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>Email:</strong>
                    <br />{{vm.person.email}}
                </div>
                <div class="col-sm-4 invoice-col">
                    <strong>Date Of Birth:</strong>
                    <br />{{vm.person.date_of_birth}}
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Place Of Birth:</strong>
                    <br />{{vm.person.place_of_birth}}
                </div>
                <!-- /.col -->
            </div>
            <br />
            <!-- row invoice-info -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>Civil Status:</strong>
                    <br />{{vm.person.temp_person_infos[0].civil_status}}
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Gender:</strong>
                    <br />{{vm.person.gender}}
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Educational Attainment:</strong>
                    <br />{{vm.person.temp_person_infos[0].educational_attainment}}
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row invoice-info -->
            <br />
            <div class="row invoice-info">
                <div class="col-sm-2 invoice-col">
                    <strong>Employed?</strong>
                    <br />{{vm.person.temp_person_infos[0].is_employed == 1? 'Yes': 'No'}} 
                </div>
                <!-- /.col -->
                <div class="col-sm-2 invoice-col">
                    <strong>SSS?</strong>
                    <br />{{vm.person.temp_person_infos[0].with_sss == 1? 'Yes': 'No'}}
                </div>
                <!-- /.col -->
                <div class="col-sm-2 invoice-col">
                    <strong>Philhealth?</strong>
                    <br /> {{vm.person.temp_person_infos[0].with_philhealth == 1? 'Yes': 'No'}}
                </div>
                <!-- /.col -->
                <div class="col-sm-2 invoice-col">
                    <strong>Voter?</strong>
                    <br /> {{vm.person.temp_person_infos[0].is_voter == 1? 'Yes': 'No'}}
                </div>
                <div class="col-sm-2 invoice-col">
                    <strong>Electricity?</strong>
                    <br /> {{vm.person.temp_person_infos[0].with_electricity == 1? 'Yes': 'No'}}
                </div>
                <!-- /.col -->
                <!-- /.col -->
            </div>
        </div>
        <!-- row invoice-info -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" ng-click="isCollapsed2 = !isCollapsed2" ng-init="isCollapsed2=true">
                <i class="fa fa-female  "></i> Spouse Info
                <!-- <small class="pull-right">Date: 2/10/2014</small> -->
              </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- row -->
        <div class="panel-collapse " ng-class="isCollapsed2? 'collapse':''">
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>Name:</strong>
                    <br /> {{vm.person.temp_person_infos[0].spouse_first_name}} {{vm.person.temp_person_infos[0].spouse_middle_name.charAt(0)}}. {{vm.person.temp_person_infos[0].spouse_last_name}}
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Gender:</strong>
                    <br /> {{vm.person.temp_person_infos[0].spouse_gender}}
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Date Of Birth</strong>
                    <br /> {{vm.person.temp_person_infos[0].spouse_date_of_birth}}
                </div>
                <!-- /.col -->
            </div>
            <!-- row invoice-info -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" ng-click="isCollapsed3 = !isCollapsed3" ng-init="isCollapsed3=true">
                        <i class="fa fa-child  "></i> Children Info
                        <!-- <small class="pull-right">Date: 2/10/2014</small> -->
                      </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- row -->
        <div ng-class="isCollapsed3? 'collapse':''">
            <div class="row invoice-info">
                <div class="col-sm-12 invoice-col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date Of Birth</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="row in vm.person.children">
                            <td>{{row.first_name}} {{row.middle_name.charAt(0)}}. {{row.last_name}}</td>
                            <td>{{row.date_of_birth}}</td>
                            <td>{{row.gender}}</td>                            
                        </tr>
                            <!-- ngRepeat: child in vm.person.children -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.row invoice-info -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" ng-click="isCollapsed4 = !isCollapsed4" ng-init="isCollapsed4=true">
                        <i class="fa fa-child  "></i> Parent Info
                        <!-- <small class="pull-right">Date: 2/10/2014</small> -->
                      </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- row -->
        <div ng-class="isCollapsed4? 'collapse':''">
            <div class="row invoice-info">
                <div class="col-sm-6 invoice-col">
                    <strong>Father's Name</strong>
                    <br /> {{vm.person.father_first_name}} {{vm.person.father_middle_name.charAt(0)}}. {{vm.person.father_last_name}}
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6 invoice-col">
                        <strong>Mother's Name</strong>
                        <br /> {{vm.person.mother_first_name}} {{vm.person.mother_middle_name.charAt(0)}}. {{vm.person.mother_last_name}}
                    </div> 
                    <!-- /.col -->
                </div>
                 <!-- row invoice-info -->
                 <br />
                <div class="row invoice-info">
                    <div class="col-sm-6 invoice-col">
                        <strong>Father's Date Of Birth</strong>
                        <br /> {{vm.person.father_date_of_birth}}
                         </div>
                        <!-- /.col -->
                        <div class="col-sm-6 invoice-col">
                            <strong>Mother's Date Of Birth</strong>
                            <br /> {{vm.person.mother_date_of_birth}}
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
    </modal>
    <modal title="Census Info" visible="vm.showEditCensus">
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="blockNo">Block No</label>
                            <input class="form-control" id="blockNo" type="text" placeholder="" ng-model="vm.blockNo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lotNo">Lot No</label>
                            <input class="form-control" id="lotNo" type="text" placeholder="Dela Cruz" ng-model="vm.lotNo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input class="form-control" id="street" type="text" placeholder="Santiago" ng-model="vm.street">
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="subdivision">Subdivision</label>
                            <input class="form-control" id="subdivision" type="text" placeholder="" ng-model="vm.subdivision">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="barangay">Barangay</label>
                            <input class="form-control" id="barangay" type="text" placeholder="Dela Cruz" ng-model="vm.barangay">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input class="form-control" id="city" type="text" placeholder="Santiago" ng-model="vm.city">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="province">Province</label>
                            <input class="form-control" id="province" type="text" placeholder="Santiago" ng-model="vm.province">
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </modal>
    </div>
