<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Record</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="idNo">Id No</label>
                                    <input class="form-control" id="idNo" type="number" placeholder="1012201">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="householdNo">Household No</label>
                                    <input class="form-control" id="householdNo" type="number" placeholder="1012201">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" id="firstName" type="text" placeholder="Juan">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input class="form-control" id="lastName" type="text" placeholder="Dela Cruz">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input class="form-control" id="middleName" type="text" placeholder="Santiago">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                        
                            <div class="col-md-2">

                                <div class="form-group">
                                    <label>Civil Status</label>
                                    <select class="form-control" ng-model="civilStatus">
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Widowed</option>
                                        <option>Seperated</option>
                                    </select>
                                </div>
                                <p>{{civilStatus}}</p>
                            </div>
                                
                            <div class="col-md-2">
                            
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control" ng-model="gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>

                                <p>{{gender}}</p>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="placeOfBirth">Place of Birth</label>
                                    <input class="form-control" id="placeOfBirth" type="text" placeholder="Kabankalan City">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="dateOfBirth">Date of Birth</label>
                                    <input class="form-control" id="dateOfBirth" type="date">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Adress</label>
                                    <textarea class="form-control" id="address"placeholder="Enter ..." rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="lengthOfStay">Length of Stay</label>
                                    <div class="input-group">
                                        <input name="lengthOfStay" id="lengthOfStay" type="number" class="form-control" ng-model="lengthOfStay">
                                        <div class="input-group-addon">
                                            <label class="radio-inline">
                                                <input name="lengthOfStayUnit" id="lengthOfStayUnit" type="radio" value="months" ng-model="lengthOfStayUnit"> months
                                            </label>
                                        </div>
                                        <div class="input-group-addon">
                                            <label class="radio-inline">
                                                <input name="lengthOfStayUnit" id="lengthOfStayUnit" type="radio" value="years" ng-model="lengthOfStayUnit"> years
                                            </label>
                                        </div>
                                    </div>
                                    <div id="length_of_stay_new_error" class="error-alert"></div>
                                    <div id="length_of_stay_unit_new_error" class="error-alert"></div>

                                    <p>{{lengthOfStay}}   {{lengthOfStayUnit}} </p>
                                </div>
                                <div class="form-group">
                                    <label for="optIsEmployed">Are you employed?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optIsEmployed" id="optIsEmployed" type="radio" checked="" value="Yes" ng-model="optIsEmployed"> Yes
                                        </label>
                                        <label>
                                            <input name="optIsEmployed" id="optionsRadios2" type="radio" value="No" ng-model="optIsEmployed"> No
                                        </label>
                                        <p>{{optIsEmployed}} </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="optSSS">Do you have SSS?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optSSS" id="optSSS" type="radio" checked="" value="Yes" ng-model="optSSS"> Yes
                                        </label>
                                        <label>
                                            <input name="optSSS" id="optSSS" type="radio" value="No" ng-model="optSSS"> No
                                        </label>
                                        <p>{{optSSS}} </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="optPhilHealth">Do you have PhilHealth?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optPhilHealth" id="optPhilHealth" type="radio" checked="" value="Yes" ng-model="optPhilHealth"> Yes
                                        </label>
                                        <label>
                                            <input name="optPhilHealth" id="optPhilHealth" type="radio" value="No" ng-model="optPhilHealth"> No
                                        </label>
                                        <p>{{optPhilHealth}} </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="optVoter">Are you a registered voter?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optVoter" id="optVoter" type="radio" checked="" value="Yes" ng-model="optVoter"> Yes
                                        </label>
                                        <label>
                                            <input name="optVoter" id="optVoter" type="radio" value="No" ng-model="optVoter"> No
                                        </label>
                                        <p>{{optVoter}} </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="optElectricity">Do you electricity in your home?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optElectricity" id="optElectricity" type="radio" checked="" value="Yes" ng-model="optElectricity"> Yes
                                        </label>
                                        <label>
                                            <input name="optElectricity" id="optElectricity" type="radio" value="No" ng-model="optElectricity"> No
                                        </label>
                                        <p>{{optElectricity}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="optToilet">Do you have a toilet?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optToilet" id="optToilet" type="radio" checked="" value="Yes" ng-model="optToilet"> Yes
                                        </label>
                                        <label>
                                            <input name="optToilet" id="optToilet" type="radio" value="No" ng-model="optToilet"> No
                                        </label>
                                        <p>{{optToilet}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="optHandicapped">Are you handicapped?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optHandicapped" id="optHandicapped" type="radio" checked="" value="Yes" ng-model="optHandicapped"> Yes
                                        </label>
                                        <label>
                                            <input name="optHandicapped" id="optHandicapped" type="radio" value="No" ng-model="optHandicapped"> No
                                        </label>
                                        <p>{{optHandicapped}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-3 -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Source of water</label>
                                    <select class="form-control" ng-model="sourceOfWater">
                                        <option>Deep Well</option>
                                        <option>KCWD</option>
                                    </select>
                                    <p>{{sourceOfWater}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Highest educational attainment</label>
                                    <select class="form-control" ng-model="educationalAttainment">
                                        <option>Elementary Graduate</option>
                                        <option>Elementary Undergraduate</option>
                                        <option>High School Graduatee</option>
                                        <option>College Graduate</option>
                                        <option>College Undergraduat</option>
                                        <option>Vocationa</option>
                                        <option>No Formal Educatio</option>
                                        <option>Post Graduate</option>
                                    </select>
                                    <p>{{educationalAttainment}}</p>
                                </div>
                            </div>
                            <!-- /.col-md-3 -->
                        </div>
                        <br>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Adress</label>
                                    <textarea class="form-control" placeholder="Enter ..." rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" ng-click="person.save()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
