<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Record</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Id No</label>
                                    <input class="form-control" id="exampleInputEmail1" type="number" placeholder="1012201">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Household No</label>
                                    <input class="form-control" id="exampleInputEmail1" type="number" placeholder="1012201">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input class="form-control" id="exampleInputEmail1" type="text" placeholder="Juan">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Last Name</label>
                                    <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Dela Cruz">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Middle Name</label>
                                    <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Santiago">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Civil Status</label>
                                    <select class="form-control">
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Widowed</option>
                                        <option>Seperated</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Place of Birth</label>
                                    <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Kabankalan City">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Date of Birth</label>
                                    <input class="form-control" id="exampleInputPassword1" type="date">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Adress</label>
                                    <textarea class="form-control" placeholder="Enter ..." rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label>What is your highest educational attainment?</label>
                                    <select class="form-control">
                                        <option>Elementary Graduate</option>
                                        <option>Elementary Undergraduate</option>
                                        <option>High School Graduatee</option>
                                        <option>College Graduate</option>
                                        <option>College Undergraduat</option>
                                        <option>Vocationa</option>
                                        <option>No Formal Educatio</option>
                                        <option>Post Graduate</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="optIsEmployed">Are you employed?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optIsEmployed" id="optIsEmployed" type="radio" checked="" value="Yes"> Yes
                                        </label>
                                        <label>
                                            <input name="optIsEmployed" id="optionsRadios2" type="radio" value="No"> No
                                        </label>
                                    </div>
                                </div>
                                
                                

                                <div class="form-group">
                                    <label for="optHasSSS">Do you have SSS?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optHasSSS" id="optHasSSS" type="radio" checked="" value="Yes"> Yes
                                        </label>
                                        <label>
                                            <input name="optHasSSS" id="optHasSSS" type="radio" value="No"> No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Do you have PhilHealth?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios1" type="radio" checked="" value="option1"> Yes
                                        </label>
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios2" type="radio" value="option2"> No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Are you a registered voter?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios1" type="radio" checked="" value="option1"> Yes
                                        </label>
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios2" type="radio" value="option2"> No
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="length_of_stay_new">Length of Stay</label>
                                    <div class="input-group">
                                        <input name="length_of_stay_new" id="length_of_stay_new" type="number" class="form-control">
                                        
                                        <div class="input-group-addon">
                                            <label class="radio-inline">
                                                <input name="length_of_stay_unit_new" id="length_of_stay_unit_new" type="radio" value="months"> months
                                            </label>
                                        </div>
                                        <div class="input-group-addon">
                                            <label class="radio-inline">
                                                <input name="length_of_stay_unit_new" id="length_of_stay_unit_new" type="radio" value="years"> years
                                            </label>
                                        </div>
                                    </div>
                                    <div id="length_of_stay_new_error" class="error-alert"></div>
                                    <div id="length_of_stay_unit_new_error" class="error-alert"></div>
                                </div>

                                <div class="form-group">
                                    <label>Source of water</label>
                                    <select class="form-control">
                                        <option>Deep Well</option>
                                        <option>KCWD</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Do you electricity in your home?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios1" type="radio" checked="" value="option1"> Yes
                                        </label>
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios2" type="radio" value="option2"> No
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Do you have a toilet?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios1" type="radio" checked="" value="option1"> Yes
                                        </label>
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios2" type="radio" value="option2"> No
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Are you handicapped?</label>
                                    <div class="radio">
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios1" type="radio" checked="" value="option1"> Yes
                                        </label>
                                        <label>
                                            <input name="optionsRadios" id="optionsRadios2" type="radio" value="option2"> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">General Elements</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Text</label>
                            <input class="form-control" type="text" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Text Disabled</label>
                            <input disabled="" class="form-control" type="text" placeholder="Enter ...">
                        </div>
                        <!-- textarea -->
                        <div class="form-group">
                            <label>Textarea</label>
                            <textarea class="form-control" placeholder="Enter ..." rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Textarea Disabled</label>
                            <textarea disabled="" class="form-control" placeholder="Enter ..." rows="3"></textarea>
                        </div>
                        <!-- input states -->
                        <div class="form-group has-success">
                            <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>
                            <input class="form-control" id="inputSuccess" type="text" placeholder="Enter ...">
                        </div>
                        <div class="form-group has-warning">
                            <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with warning</label>
                            <input class="form-control" id="inputWarning" type="text" placeholder="Enter ...">
                        </div>
                        <div class="form-group has-error">
                            <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label>
                            <input class="form-control" id="inputError" type="text" placeholder="Enter ...">
                        </div>
                        <!-- checkbox -->
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Checkbox 1
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Checkbox 2
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input disabled="" type="checkbox"> Checkbox disabled
                                </label>
                            </div>
                        </div>
                        <!-- radio -->
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input name="optionsRadios" id="optionsRadios1" type="radio" checked="" value="option1"> Option one is this and that—be sure to include why it's great
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="optionsRadios" id="optionsRadios2" type="radio" value="option2"> Option two can be something else and selecting it will deselect option one
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="optionsRadios" disabled="" id="optionsRadios3" type="radio" value="option3"> Option three is disabled
                                </label>
                            </div>
                        </div>
                        <!-- select -->
                        <div class="form-group">
                            <label>Select</label>
                            <select class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select Disabled</label>
                            <select disabled="" class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                        <!-- Select multiple-->
                        <div class="form-group">
                            <label>Select Multiple</label>
                            <select class="form-control" multiple="">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select Multiple Disabled</label>
                            <select disabled="" class="form-control" multiple="">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
